<!-- Required variables:
- wager
- round
- session_user
-->
{% if round.accepting_wagers() %}
    {% if wager %}
        <form action="{{ url_for('edit_wager', event_id=round.event.id, round_id=round.id) }}" method="POST">
    {% else %}
        <form action="{{ url_for('add_wager', event_id=round.event.id, round_id=round.id) }}" method="POST">
    {% endif %}
        <div class="input-group mb-3">
            <select name="stake" class="form-control">
                <option value="{{round.competitor_a.id}}" {% if wager and wager.stake==round.competitor_a %}selected="selected"{% endif %}>{{round.competitor_a.name}}</option>
                <option value="{{round.competitor_b.id}}" {% if wager and wager.stake==round.competitor_b %}selected="selected"{% endif %}>{{round.competitor_b.name}}</option>
            </select>

            <label for="amount" class="input-group-text">$</label>
            <input type="number" name="amount" placeholder="0.00" id="amount" min="0.00" max="{{round.event.get_available_money(session_user.id, wager)}}" step="0.01" class="form-control" {% if wager %}value="{{wager.amount}}"{%endif%}>
            <button type="submit" value="+" class="btn btn-primary">
                <i class="bi bi-upload"></i>
            </button>
        </div>
    </form>
{% elif wager %}
    <a class="{{wager.get_status_class()}}">{{wager.stake.name}}: ${{wager.amount}}</a>
{% else %}
    <a></a>
{% endif %}