{% extends 'base.html' %}

{% block body %}
<h1>Create Round</h1>
<form action="{{ url_for('add_round', event_id=event.id) }}" method="POST">
    <a>Round Name</a>
    <input type="text" name="name" placeholder="Name" id="name"><br>
    <a>Player A</a>
    <select name="player_a">
        {% for user in event.participants %}
            <option value="{{ user.id }}">{{ user.name }}</option>
        {% endfor %}
    </select><br>
    <a>Player B</a>
    <select name="player_b">
        {% for user in event.participants %}
            <option value="{{ user.id }}">{{ user.name }}</option>
        {% endfor %}
    </select><br>
    <a>Odds (A:B)</a>
    <input type="text" name="odds" placeholder="Odds (E.g. 2:1)" id="odds"><br>
    <input type="submit" value="Create Round" id="submit">
</form>
{% endblock %}