{% extends 'base.html' %}

{% block body %}
<form action="{{ url_for('edit_round', event_id=round.event.id, round_id=round.id) }}" method="POST">
    <input type="hidden" name="referrer" value="{{ request.referrer }}">

    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" placeholder="Name" id="name" class="form-control" value="{{ round.name }}">
    </div>

    <div class="input-group mb-3">
        <label for="player_a" class="input-group-text">Player A</label>
        <select name="player_a" class="form-control" id="player_a">
            <option value="" {% if not round.competitor_a %}selected="selected"{% endif %}>N/A</option>
            {% for competitor in event.get_competitors() %}
                <option value="{{ competitor.id }}" {% if round.competitor_a and round.competitor_a.id == competitor.id %}selected="selected"{% endif %}>{{ competitor.name }}</option>
            {% endfor %}
        </select>

        <label for="odds" class="input-group-text">Odds (A:B)</label>
        <input type="text" name="odds" placeholder="odds (E.g. 2:1)" id="odds" class="form-control" value="{{ round.odds }}">

        <label for="player_b" class="input-group-text">Player B</label>
        <select name="player_b" class="form-control" id="player_b">
            <option value="" {% if not round.competitor_b %}selected="selected"{% endif %}>N/A</option>
            {% for competitor in event.get_competitors() %}
                <option value="{{ competitor.id }}" {% if round.competitor_b and round.competitor_b.id == competitor.id %}selected="selected"{% endif %}>{{ competitor.name }}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="mb-3">
        <label for="winner" class="form-label">Winner</label>
        <select name="winner" class="form-control" id="winner">
            <option value="" {% if not round.winner %}selected="selected"{% endif %}>N/A</option>
            {% if round.competitor_a %}
                <option value="{{ round.competitor_a.id }}" {% if round.winner and round.winner.id == round.competitor_a.id %}selected="selected"{% endif %}>{{ round.competitor_a.name }}</option>
            {% endif %}
            {% if round.competitor_b %}
                <option value="{{ round.competitor_b.id }}" {% if round.winner and round.winner.id == round.competitor_b.id %}selected="selected"{% endif %}>{{ round.competitor_b.name }}</option>
            {% endif %}
        </select>
    </div>

    <div class="mb-3">
        <label for="accept_wagers" class="form-label">Accept Wagers</label>
        <input type="checkbox" name="accept_wagers" class="form-check-input" id="accept_wagers" {% if round.accept_wagers %}checked{% endif %}>
    </div>

    <div class="mb-3">
        <button type="submit" value="Save Changes" id="submit" class="btn btn-primary">Save Changes</button>
    </div>

    <div class="mb-3">
        <div class="accordion" id="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="accordian-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Advanced
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="accordian-header" data-bs-parent="#accordion">
                    <div class="accordion-body">
                        <a class="btn btn-danger" href="{{ url_for('remove_round', event_id=event.id, round_id=round.id) }}">Delete Round</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}