{% extends 'base.html' %}

{% block body %}
{% if event.winner %}
<h1>Winner: {{ event.winner.name }}</h1>
{% endif %}

<h2>
    <a>Rounds</a>
    {% if event.get_status() in [event.Status.OPEN, event.Status.ACTIVE] %}
        {% if session_user.id == event.creator.id %}
            <a href="{{ url_for('add_round', event_id=event.id) }}" class="btn btn-primary">Create Round</a>
        {% endif %}
    {% endif %}
</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Player 1</th>
        <th>Odds</th>
        <th>Player 2</th>
        <th>Wager</th>
        <th>Winner</th>
    </tr>
    {% for round in event.get_rounds() %}
    <tr>
        <td>
            <a href="{{ url_for('round', event_id=event.id, round_id=round.id) }}">{{ round.name }}</a>
            <!-- Disable inline edit options to avoid mis-presses on phones. -->
            <!-- {% if session_user.id == event.creator.id %}
                <a class="icon-link ps-3" href="{{ url_for('edit_round', event_id=event.id, round_id=round.id) }}">
                    <i class="bi bi-pencil-fill"></i>
                </a>
                <a class="icon-link ps-3" href="{{ url_for('remove_round', event_id=event.id, round_id=round.id) }}">
                    <i class="bi bi-trash"></i>
                </a>
            {% endif %} -->
        </td>
        <td>
            <a>{{ round.competitor_a.name }}</a>
        </td>
        <td>{{ round.odds }}</td>
        <td>
            <a>{{ round.competitor_b.name }}</a>
        </td>
        <td>
            {% with wager=round_wagers.get(round.id), editor_enabled=false %}
                {% include "widgets/wager_editor.html" %}
            {% endwith %}
        </td>
        <td>{{ round.winner.name }}</td>
    </tr>
    {% endfor %}
</table>

<h2>
    <a>Players</a>
    {% if event.get_status() in [event.Status.OPEN, event.Status.ACTIVE] %}
        {% if session_user.id not in event.get_participant_ids() %}
            <a class="btn btn-primary" href="{{ url_for('add_event_user', event_id=event.id, user_id=session['user']['id']) }}">Join Event</a>
        {% else %}
            {% if event.get_status() != event.Status.ACTIVE %}
                <a class="btn btn-warning" href="{{ url_for('remove_event_user', event_id=event.id, user_id=session['user']['id']) }}">Leave Event</a>
            {% endif %}
        {% endif %}

        {% if session_user.id == event.creator.id %}
            <form action="{{ url_for('add_competitor', event_id=event.id) }}" method="POST">   
                <div class="input-group mb-3">
                    <label for="name" class="input-group-text">Competitor Name</label>
                    <input type="text" name="name" id="name" class="form-control">
                    <button type="submit" value="+" class="btn btn-primary">Add Competitor</button>
                </div>
            </form>
        {% endif %}
    {% endif %}
</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Money</th>
        {% if session_user.id == event.creator.id %}
            <th>Kick</th>
        {% endif %}
    </tr>
    {% for user in event.get_participants() %}
    <tr>
        <td>
            <a >{{ user.name }}</a><br>
        </td>
        <td>
            <a >{{ event.get_current_money(user) }}</a>
        </td>
        {% if session_user.id == event.creator.id %}
            <td>
                <a href="{{ url_for('remove_event_user', event_id=event.id, user_id=user.id) }}">Remove</a>
            </td>
        {% else %}
            <td></td>
        {% endif %}
    </tr>
    {% endfor %}

    {% for competitor in event.competitors %}
    <tr>
        <td>
            {% if session_user.id == event.creator.id %}
                <form action="{{ url_for('edit_competitor', event_id=event.id, competitor_id=competitor.id) }}" method="POST">
                    <div class="input-group mb-3">
                        <label for="name" class="input-group-text">Competitor</label>
                        <input type="text" name="name" placeholder="Name" id="name" class="form-control" value="{{ competitor.name }}">
                        <button type="submit" value="+" class="btn btn-primary">
                            <i class="bi bi-upload"></i>
                        </button>
                    </div>
                </form>
            {% else %}
                <a class="text-primary">{{ competitor.name }}</a><br>
            {% endif %}
        </td>
        <td></td>
        {% if session_user.id == event.creator.id %}
            <td>
                <a href="{{ url_for('remove_competitor', event_id=event.id, competitor_id=competitor.id) }}">Remove</a>
            </td>
        {% else %}
            <td></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}