{% extends 'base.html' %}

{% block body %}
<h1 class="h1">Reset Password</h1>
<form action="{{ url_for('forgot_password') }}" method="POST">
    <div class="input-group mb-3">
        <label for="email" class="input-group-text">Email</label>
        <input type="email" name="email" placeholder="john.doe@domain.com" id="email" class="form-control" {% if i_email %}value="{{ i_email }}"{% endif %}>
        <button type="submit" class="btn btn-primary" name="submit_button" value="send_code">Send Code</button>
    </div>

    <div class="input-group mb-3">
        <label for="code" class="input-group-text">Verification Code</label>
        <input type="text" name="code" id="code" class="form-control" {% if i_code %}value="{{ i_code }}"{% endif %}:>
    </div>

    <div class="mb-3">
        <label for="new_password" class="form-label">New Password</label>
        <input type="password" name="new_password" placeholder="New Password" id="new_password" class="form-control">
    </div>

    <div class="mb-3">
        <button type="submit" class="btn btn-primary" name="submit_button" value="change_password">Change Password</button>
    </div>
    
</form>
{% endblock %}