{% extends 'base.html' %}

{% block body %}
<h1>Events</h1>
<a href="{{ url_for('add_event') }}">Create New Event</a>
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Winner</th>
        <th>Participants</th>
        <th>Date Created</th>
        <th>Creator</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for event in events %}
    <tr>
        <td>
            <a href="{{ url_for('event', event_id=event.id) }}">{{ event.name }}</a><br>
        </td>
        <td class="{{ event.get_status_class() }}">{{ event.get_status() }}</td>
        {% if event.winner %}
            <td>{{ event.winner[0] }}</td>
        {% else %}
            <td></td>
        {% endif %}
        <td>{{ event.participants | count }}</td>
        <td>{{ event.date_created.date() }}</td>
        <td>{{ event.creator.name }}</td>
        <td>
            <a href="{{ url_for('edit_event', event_id=event.id) }}">Edit</a>
        </td>
        <td>
            <a href="{{ url_for('remove_event', event_id=event.id) }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}