{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
    <div class="row" style="align-items: center;">
        <div class="col-sm-5 col-xs-12" style="align-items: center;">
            <div class="d-flex justify-content-center">
                <div class="card" style="width: 18rem; text-align: center; {% if round.winner == round.competitor_a %}border-color: green;{% elif round.winner == round.competitor_b %}border-color: red;{% endif %} ">
                    <div class="card-body">
                        <h5 class="card-title">{{round.competitor_a.name}}</h5>
                        {% with wins, losses = event.get_user_record(round.competitor_a) %}
                            <h6 class="card-subtitle mb-2 text-muted">Overall record: {{ wins }}W - {{ losses }}L</h6>
                        {% endwith %}
                        {% with wins, losses = event.get_user_record(round.competitor_a, round.competitor_b) %}
                            <h6 class="card-subtitle mb-2 text-muted">Record vs {{ round.competitor_b.name }}: {{ wins }}W - {{ losses }}L</h6>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-sm-1 col-xs-12">
            <div class="d-flex justify-content-center">
                <div class="column">
                    <div class="row">
                        <h1 class="h-1" style="text-align: center;">VS</h1>
                    </div>
                    <div class="row">
                        <h3 class="text-muted" style="text-align: center;">{{round.odds}}</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-5 col-xs-12" style="align-items: center;">
            <div class="d-flex justify-content-center">
                <div class="card" style="width: 18rem; text-align: center; {% if round.winner == round.competitor_b %}border-color: green;{% elif round.winner == round.competitor_a %}border-color: red;{% endif %} ">
                    <div class="card-body">
                        <h5 class="card-title">{{round.competitor_b.name}}</h5>
                        {% with wins, losses = event.get_user_record(round.competitor_b) %}
                            <h6 class="card-subtitle mb-2 text-muted">Overall record: {{ wins }}W - {{ losses }}L</h6>
                        {% endwith %}
                        {% with wins, losses = event.get_user_record(round.competitor_b, round.competitor_a) %}
                            <h6 class="card-subtitle mb-2 text-muted">Record vs {{ round.competitor_a.name }}: {{ wins }}W - {{ losses }}L</h6>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<h2>Wagers</h2>
{% if not round.has_wagered(session_user.id) %}
    {% with editor_enabled=true %}
        {% include "widgets/wager_editor.html" %}
    {% endwith %}
{% endif %}
<table class="table">
    <tr>
        <th>Player</th>
        <th>Wager</th>
        <th>Outcome</th>
    </tr>
    {% for wager in round.wagers %}
    <tr>
        <td>
            <a>{{ wager.user.name }}</a>
        </td>
        {% if session.get('user', {}).get('id') == wager.user.id %}
            <td>
                {% with editor_enabled=true %}
                    {% include "widgets/wager_editor.html" %}
                {% endwith %}
            </td>
        {% else %}
            <td>{{wager.stake.name}}: ${{ wager.amount }}</td>
        {% endif %}
        <td class="{{wager.get_status_class()}}">{{ wager.get_outcome() }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}