<!-- Required variables:
- wager
- round
- session_user
-->
{% if round.accepting_wagers() %}
    <form action="{{ url_for('add_wager', event_id=round.event.id, round_id=round.id) }}" method="POST">
        <select name="stake">
            <option value="{{round.competitor_a.id}}" {% if wager and wager.stake==round.competitor_a %}selected="selected"{% endif %}>{{round.competitor_a.name}}</option>
            <option value="{{round.competitor_b.id}}" {% if wager and wager.stake==round.competitor_b %}selected="selected"{% endif %}>{{round.competitor_b.name}}</option>
        </select>
        <input type="number" name="amount" placeholder="Wager" id="amount" min="0.00" max="{{round.event.get_available_money(session_user.id)}}" step="0.01" {% if wager %}value="{{wager.amount}}"{%endif%}>
        <input type="submit" value="+">
    </form>
{% elif wager %}
    <a class="{{wager.get_status_class()}}">{{wager.stake.name}}: ${{wager.amount}}</a>
{% else %}
    <a></a>
{% endif %}